DATABASE_URL=postgresql+asyncpg://user:password@your-neon-host.neon.tech/investmentdb?sslmode=require
DATABASE_URL_SYNC=postgresql://user:password@your-neon-host.neon.tech/investmentdb?sslmode=require
